@font-face {
  font-family: 'BoldRounded';
  src: url('../../fonts/bolt-rounded/Bolt Rounded.woff2') format('woff2'),
  url('../../fonts/bolt-rounded/Bolt Rounded.woff') format('woff'),
  url('../../fonts/bolt-rounded/Bolt Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.mybody {
  background: #1B2727;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.intro-ui button {
  width: 10%;
  background: transparent;
  border: none;
  height: 100vh;
  color: #D5DDDF;
  font-size: 4vw;
  transition: ease-in-out 0.2s;
}
.intro button:hover {
  background: rgba(255, 255, 255, 0.04);
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.intro-text {
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  gap: 0.5vw;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.intro-back {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/main_background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}

.head {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 4vw;
  margin-top: 15vw;
}
.intro p {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1.2vw;
  max-width: 60vw;
  text-align: center;
}

.head-info {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.down-button {
  margin-top: 3vw;
  padding-bottom: 2vw;
  transition: ease-in-out 0.3s;
}

.down-button:hover {
  transform: scale(1.07);
}

.offers-list {
  display: flex;
  flex-direction: row;
  padding-top: 3vw;
  gap: 5vw;
}
.offers-list a {
  border: none;
  border-radius: 1vw;
  width: 18vw;
  height: 6vw;
  background: #3C5148;
  color: #B2C5B2;
  font-family: 'BoldRounded';
  font-size: 1.5vw;
  text-align: center;
  align-content: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  transition: ease-in-out 0.3s;
  margin-top: 4vw;
}
.offers-list a:hover {
  transform: scale(1.03);
}

.offers-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5vw;
  background-color: #111b1b;
}
.hr-class {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: -5vw;
}
.hr1 {
  color: #B2C5B2;
  border: 1px solid #B2C5B2;
  width: 70%;
  height: 0.1vw;
}
.offers-window h1 {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 3vw;
}
.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-text p {
  width: 30%;
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1.4vw;
  text-align: center;
}
.offers-cards {
  display: flex;
  flex-direction: row;
  margin-top: 4vw;
  width: 100%;
  height: 100vh;
  gap: 5vw;
  justify-content: center;
}
.offer-card {
  height: 50vh;
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: #D5DDDF;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  padding: 1vw;
  align-items: center;
  gap: 1vw;
}
.offer-card h1 {
  color: #111919;
  font-size: 2vw;
}
.offer-card img {
  width: 12vh;
  height: 12vh;
}
.offer-card hr {
  color: #111919;
  width: 90%;
  height: 0.1vw;
  border: 0.1vw solid #111919;
  margin-top: -0.5vw;
}
.offer-card p {
  margin-top: 1vw;
  font-size: 1.2vw;
  text-align: center;
}
.offer-card a {
  color: #D5DDDF;
  text-decoration: none;
  background-color: #111919;
  padding: 0.8vw;
  border-radius: 0.5vw;
  transition: ease-in-out 0.2s;
}
.offer-card a:hover {
  background-color: #2d4242;
}

.collaboration-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 10vw 5vw 0vw 5vw;
  background-color: #111b1b;
}
.collaboration-info h1 {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 4vw;
}
.collaboration-info p {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1.2vw;
  width: 75%;
}
.collaboration-info hr {
  color: #B2C5B2;
  border: 1px solid #B2C5B2;
  width: 60%;
}
.collab-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.collaboration-info img {
  width: 38vw;
  height: 38vw;
}
.panels-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s;
  background-color: #3C5148;
  width: 14vw;
  height: 18vw;
  border-radius: 1vw;
  padding-top: 5vw;
  -webkit-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
}

.panel img {
  width: 6vw;
  height: auto;
}

.panel p {
  margin: 0.3vw;
  font-size: 0.8vw;
}

.panel:hover {
  transform: scale(1.05);
}

.calendar-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 10vw 5vw 0vw 5vw;
  background-color: #111b1b;
  align-items: start;
}
.calendar-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calendar-info h1 {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 4vw;
  align-self: end;
}
.calendar-info hr {
  color: #B2C5B2;
  border: 1px solid #B2C5B2;
  width: 70%;
  align-self: end;
}
.calendar-info p {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1.2vw;
  text-align: right;
  width: 80%;
  align-self: end;
}
.calendar-info img {
  width: 40vw;
}

.ui-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: end;
  background-color: #111b1b;
}
.intro-ui {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.intro-ui p {
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1.2vw;
  max-width: 60vw;
  text-align: center;
}
.ui-window h1 {
  color: #D5DDDF;
}
.d-block {
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
}
.blur-ui-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transition: ease-in-out 0.3s;
}
.ui-hr {
  width: 40%;
  color: #D5DDDF;
  border: 1px solid #D5DDDF;
}
.myfooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vw;
  background-color: #0c1212;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  color: #D5DDDF;
  font-family: 'BoldRounded';
  font-size: 1vw;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9em;
  line-height: 1.6;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.2em;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}

.footer-bottom p {
  margin: 0;
}
