<html>
  <head></head>
  <body>
      <div class="registration-form">
        <div class="registration-form-pic">
          <h2>Task Manager</h2>
          <img src="assets/registration_icon.png">
        </div>

        <div class="registration-form-fields">
          <div class="registration-form-fields-headers">
            <h3 style="font-size: 1.5vw">Register now</h3>
            <h1 style="font-size: 2vw">Sign up for free</h1>
            <p style="font-size: 0.9vw">Already have an account? <a href="/login">Sign in!</a></p>
          </div>
          <div class="registration-fields-inputs">
            <div>
              <p>Username</p>
              <input class="inputs" type="text" placeholder="Input your username"/>
            </div>
            <div>
              <p>Email</p>
              <input class="inputs" type="text" placeholder="Input your email"/>
            </div>
            <div>
              <p>Password</p>
              <input class="inputs" type="text" placeholder="Input your password"/>
            </div>
          </div>
          <div class="registration-fields-button">
            <input type="submit" value="Sign up"/>
          </div>
        </div>
      </div>
  </body>
</html>
