<div class="mybody">
  <div class="registration-form">
    <div class="registration-form-pic">
      <h2>Task Manager</h2>
      <img src="assets/registration_icon.png">
    </div>
    <div class="registration-form-fields">
      <div class="registration-form-fields-headers">
        <h3 style="font-size: 1.5vw">Register now</h3>
        <h1 style="font-size: 2vw">Sign up for free</h1>
        <p style="font-size: 0.9vw">Already have an account? <a href="/login">Sign in!</a></p>
      </div>
      <div class="registration-fields-inputs">
        <div>
          <p [ngClass]="{'invalid': !isValidName}">Name</p>
          <input (input)="checkNameValid()" class="inputs" type="text" placeholder="Input your name" [(ngModel)]="name"/>
        </div>
        <div>
          <p [ngClass]="{'invalid': !isValidUsername}">Username</p>
          <input (input)="checkUsernameValid()" class="inputs" type="text" placeholder="Input your username" [(ngModel)]="username"/>
        </div>
        <div>
          <p [ngClass]="{'invalid': !isValidEmail}">Email</p>
          <input (input)="checkEmailValid()" class="inputs" type="text" placeholder="Input your email"
            [(ngModel)]="email"/>
        </div>
        <div>
          <p [ngClass]="{'invalid': !isValidPassword}">Password</p>
          <input (input)="checkPasswordValid()" class="inputs" type="text" placeholder="Input your password"
            [(ngModel)]="password"/>
        </div>
      </div>
      <div class="registration-fields-button">
        <input [disabled]="!isValidEmail || !isValidPassword || !isValidUsername" type="button" value="Sign Up" (click)="signUpClick()"/>
      </div>
    </div>
  </div>
</div>
