<div class="my-modal-body">
  <div class="my-modal-header">
    <h2>Redact task</h2>
    <hr>
  </div>
  <div class="my-modal-fields">
    <div class="input-group">
      <p>Title</p>
      <input type="text" placeholder="Input task title" [(ngModel)]="taskTitle"/>
    </div>
    <div class="input-group">
      <p>Description</p>
      <textarea placeholder="Input task description" [(ngModel)]="taskDescription"></textarea>
    </div>
    <div class="input-group">
      <p>Due to</p>
      <input type="datetime-local" [(ngModel)]="taskDeadline"/>
    </div>
    <div class="buttons-row">
      <input type="button" class="close-btn" value="Close" (click)="close()"/>
      <input type="button" class="delete-btn" value="Delete" (click)="delete()"/>
      <input type="button" class="accept-btn" value="Save" (click)="save()"/>
    </div>
  </div>
</div>
