<div class="mybody">
  <div class="header-field">
    <h1>Hello user!</h1>
    <div class="right-side">
      <button class="filter-btn" type="button"><img src="assets/filter_icon.png"></button>
      <div class="search-container">
        <button class="search-btn" type="button"><img src="assets/search_icon.png"></button>
        <input type="text" placeholder="Search here..."/>
      </div>
      <input type="button" value="Add task"/>
    </div>
  </div>
  <div class="dashboard">
    <div class="dashboard-classes">
      <div class="dashboard-class">

      </div>
      <div class="dashboard-class">

      </div>
      <div class="dashboard-class">

      </div>
      <div class="dashboard-class">

      </div>
    </div>
  </div>
</div>
