<div class="mybody">
  <div class="header-field">
    <h1>Hello user!</h1>
    <div class="right-side">
      <button class="filter-btn" type="button"><img alt="filter_icon" src="assets/filter_icon.png"></button>
      <div class="search-container">
        <button class="search-btn" type="button"><img alt="search_icon" src="assets/search_icon.png"></button>
        <input type="text" placeholder="Search here..."/>
      </div>
      <input type="button" value="Add task"/>
    </div>
  </div>
  <div class="dashboard">
    <div class="dashboard-classes">
      <div class="dashboard-class" *ngFor="let new_class of status_columns_list | keyvalue">
        <p>{{new_class.key}}</p>
        <div [ngClass]="getClass(new_class.key)"></div>
      </div>
    </div>
    <div class="dashboard-columns" cdkDropListGroup>
      <div *ngFor="let column of status_columns_list | keyvalue" class="dashboard-column">
        <div [cdkDropListData]="column.value" cdkDropList class="dashboard-list" (cdkDropListDropped)="drop($event)">
          <div class="task" draggable="true" *ngFor="let item of column.value" cdkDrag>
            <div class="task-header">
              <p>{{item}}</p>
            </div>
            <div class="timeline-row-green"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
