@font-face {
  font-family: 'BoldRounded';
  src: url('../../fonts/bolt-rounded/Bolt Rounded.woff2') format('woff2'),
  url('../../fonts/bolt-rounded/Bolt Rounded.woff') format('woff'),
  url('../../fonts/bolt-rounded/Bolt Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.mybody {
  background: #1B2727;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  color: #D5DDDF;
  font-family: BoldRounded;
}
.header-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  padding: 0vw 4.5vw 0vw 4.5vw;
  align-items: center;
}
.header-field h1 {
  font-size: 2.5vw;
}
.right-side {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.search-container {
  position: relative;
  width: 15vw;
}
.search-container input[type="text"] {
  background: #364940;
  border: none;
  border-radius: 1vw;
  width: 100%;
  height: 2vw;
  color: #D5DDDF;
  padding-left: 2vw;
  font-size: 1vw;
}
.search-btn {
  position: absolute;
  border: none;
  background: #364940;
  color: white;
  cursor: pointer;
  border-radius: 2vw;
  width: 2vw;
  height: 2vw;
}
.filter-btn {
  width: 2vw;
  height: 2vw;
  border-radius: 2vw;
  background: #1B2727;
  border: 0;
  transition: ease-in-out 0.2s;
}
.filter-btn img {
  width: 1.5vw;
  height: 1.5vw;
}
.filter-btn:hover {
  background: #364940;
}
.search-container button img {
  width: 1.3vw;
  transition: ease-in-out 0.2s;
}
.search-container button img:hover {
  width: 1.3vw;
  transform: rotate(15deg);
}
.right-side input {
  background: #364940;
  border: none;
  border-radius: 1vw;
  width: 30%;
  height: 2vw;
  color: #D5DDDF;
  padding-left: 0.5vw;
  font-size: 1vw;
}
.dashboard {
  display: flex;
  flex-direction: column;
  width: 91%;
  height: 90vh;
  background-color: rgba(17, 25, 25, 0.8);
  align-self: center;
  margin-bottom: 2vw;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.42);
  padding: 1vw;
}
.dashboard-classes {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.dashboard-class {
  width: 24vw;
  height: 10vh;
  background: #364940;
  border-radius: 1vw;
}
